:root {
  font-family: 'Trebuchet MS', Verdana, sans-serif;
  color: #212529;
  background: #f0f2f5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

#root {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid #303236;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background: #f0f2f5;
}

body {
  margin: 0;
  min-width: 320px;
  background: #f0f2f5;
}

